@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

header {
  width: 100%;
  height: 6.5em;
  border-bottom: .09em solid #959992;
  font-family: "Open Sans";
  font-weight: bold;
  background-color: #FFFFFD;
}

span {
  display: inline-block;
  padding: 40px;
  text-align: left;
  z-index: 14;
  margin: 0;
  font-weight: 100;
  color: black;
}

div#content {
  background-size: cover;
  width: 100%;
/*  height: 100%;*/
  position: absolute;
  margin: 0 auto;
  background-color: #FFFFFD;
}

ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0;
}

body > footer > ul > li > img {
position: relative;
width: 24px;
}

footer {
  width: 100%;
  height: 6.5em;
  position: fixed;
  bottom: 0;
  border-top: .09em solid #959992;
  background-color: #FFFFFD;
/*  border: 2px solid black;*/
}

#portrait {
  float: left;
  margin: 2em;
  padding-left: 2em;
  padding-top: 2em;
  background-image: url('/images/headshot_2.png');
  width: 250px;
  height: 250px;
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border: .09em solid #959992;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 100%;
  opacity: 1;

}

#about {
  font-family: 'open sans', 'sans serif', 'helvetica', 'arial';
  width: 25%;
  height: 50%;
  float: right;
  border: 2px solid red;
  display: inline;
  border: none;
  margin-right: 50%
}

#about span {
  border: none;
}

#projects {
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
  font-weight:lighter;
}

/* Just click to select the code */
 
@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("/fonts/untitled-font-1.eot");
  src:url("/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("/fonts/untitled-font-1.woff") format("woff"),
    url("/fonts/untitled-font-1.ttf") format("truetype"),
    url("/fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
  content: "a";
}
.icon-social-twitter:before {
  content: "b";
}
.icon-fontawesome-webfont:before {
  content: "c";
}
.icon-social-linkedin:before {
  content: "d";
}
.icon-social-github:before {
  content: "e";
}
.icon-email-mail-streamline:before {
  content: "f";
}
.icon-social-medium:before {
  content: "g";
}
.icon-files:before {
  content: "h";
}

#about > span > ul > li > a {
font-size: 1.5em;
display: inline;
}
